<div class="container">
  <div class="container-fluid text-center">
    <div class="card">
      <div class="card-header">
        List of people
      </div>
      <div class="card-body">

        <div class="row">
<!--          <div class="col-md-7">-->
<!--            <textarea name="certification" id="" class="form-control" rows="5" [(ngModel)]="certif"></textarea>-->
<!--            <br>-->
<!--            <div>-->
<!--              <button class="btn btn-primary" (click)="postCertification()" [disabled]="!certif">Submit</button>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div class="alert-danger" *ngIf="error">-->

<!--              <p>{{error}}</p>-->
<!--            </div>-->
<!--          </div>-->
          <div >

          <div class="col-md-12" *ngIf="list">
            <div class="text-center" >
              <ul class="list-group" >
                <li class="list-group-item active">List of people</li>
                <li *ngFor="let user of list;" class="list-group-item"  ><a [routerLink] ="['/details', user.id]">Name : {{user.name}} FirstName: {{user.username}}</a></li>

              </ul>
            </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

</div>


